
Signac PBMC/archivos_accesorios/atac_v1_pbmc_10k_fragments.tsv.gz
Signac PBMC/archivos_accesorios/atac_v1_pbmc_10k_filtered_peak_bc_matrix.h5
Signac MB/archivos_accesorios/atac_v1_adult_brain_fresh_5k_filtered_peak_bc_matrix.h5
Signac MB/archivos_accesorios/atac_v1_adult_brain_fresh_5k_fragments.tsv.gz
Signac MB/archivos_accesorios/atac_v1_adult_brain_fresh_5k_fragments.tsv.gz.tbi
Signac MB/archivos_accesorios/atac_v1_adult_brain_fresh_5k_singlecell.csv
Signac MB/archivos_accesorios/allen_brain.rds
Signac MB/.Rhistory
